body{
	background-color: #f6f6f6;
}


header{
	position: relative;
	display: block;
	overflow: hidden;
	font-family: Arial,Verdana,sans-serif;
	text-align: center;
	height: 56px;
	width: 100%;
	box-shadow: darkgrey 0px 2px 2px 0px;
	font-size: 28px;
	line-height: 56px;
	background-color: white;
}

hr{
	opacity: 40%;
}

#applyButton{
	font-size: 20px;
}



#afterapply{
	display: ;
}



#content{
	margin-left: 120px;
	margin-right: 120px;
}

#applysc{
	width: 400px;
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #f1f1f1;
	margin: 20px;
	box-shadow: #f1f1f1 2px 2px 2px 2px;
	background-color: white;
	padding: 20px;

	font-size: 16px;
}

#newCompany{
	width: 400px;
	float: left;
	display: inline;

	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #f1f1f1;
	margin:20px;
	box-shadow: #f1f1f1 2px 2px 2px 2px;
	background-color: white;
	padding: 20px;

	font-size: 16px;
}

#trade{
	width: 400px;
	float: left;
	display: inline;

	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #f1f1f1;
	margin:20px;
	box-shadow: #f1f1f1 2px 2px 2px 2px;
	background-color: white;
	padding: 20px;

	font-size: 16px;
}

#bank{
	width: 400px;
	float: left;
	display: inline;

	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #f1f1f1;
	margin:20px;
	box-shadow: #f1f1f1 2px 2px 2px 2px;
	background-color: white;
	padding: 20px;

	font-size: 16px;
}

#query{
	width: 400px;
	float: left;
	display: inline;

	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #f1f1f1;
	margin:20px;
	box-shadow: #f1f1f1 2px 2px 2px 2px;
	background-color: white;
	padding: 20px;

	font-size: 16px;
}
/*
.disable{
	pointer-events: none;
	
}
*/